<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- To be changed to use service account instead of sql user account -->
    <add name="Test" connectionString="Data Source=(local);Initial Catalog=Customers;User Id=admin;Password=password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>